/* Estilos para todo el cuerpo de la página web, tipo de letra*/
body {
  font-family: 'Lato', sans-serif;
}

h2,
h4,
h5,
h6,
p,
a{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

/* Estilos para la imagen de fondo*/
.hero-image {
  width: 100;
  height: 85vh;
  background-size: cover;
  background-position: center;
}

/* Estilos para cambiar el color de la navegación */

.nav-wrapper {
  background-color: #263238;
}

/* Estilos para mover a la izquierda el logo de la navegación */

.brand-logo {
  margin-left: 20px;
}

/* Estilos para h2 que esta dentro de la imagen */
.text {
  color: #fff;
}

.text-footer {
  color: #fff;
}

.service {
  color: #263238;
  font-weight: 700;
}

.image-hero {
  width: 100%;
  height: 85vh;
  background-size: cover;
  background-position: center;
}

.text-header {
  color: #fff;
  text-align: left;
  font-size: 1.2em;
}
